{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="cf ph3 ph5-l pv3 pv4-l f4   lh-copy mid-gray">
      <header>
       
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      <div >
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
