
<div class="embed video-player">
    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href={{ index .Params 0 }}%2F&show_text=false&width=640" width="640" height="480" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
</div>